<% include ./partials/header %>
<hr>
<p>Prepare Custom Event Notification</p>
<hr>
<form class="ui form">
  <div class="field">

  </div>
  <div class="field">
    <label>To:</label>
    <div class="ui dropdown button"  name="to" id="sem">
      <input name="branch" type="hidden" >
      <i class="filter icon"></i>
      <span class="text">Year</span>
      <div class="menu">
        <div class="item" data-value="all">All four years</div>
        <div class="item" data-value="first">1 YEAR</div>
        <div class="item" data-value="second">2 YEAR</div>
        <div class="item" data-value="third">3 YEAR</div>
        <div class="item" data-value="fourth">4 YEAR</div>
      </div><!-- menu -->
    </div><!-- OtherDropdown -->
    <div class="ui dropdown button"  name="to" id="to">
      <input name="year" type="hidden" >
      <i class="filter icon"></i>
      <span class="text">Select User</span>
      <div class="menu">
        <div class="item" data-value="all">All Branch</div>
        <div class="item">Specific Branch
          <div class="menu">
            <div class="item" data-value="ec">EC</div>
            <div class="item" data-value="comp">computer</div>
            <div class="item" data-value="it">IT</div>
            <div class="item" data-value="auto">Automobile</div>
            <div class="item" data-value="mech">Mechanical</div>
            <div class="item" data-value="Civil">Civil</div>
            <div class="item" data-value="ele">Electrical</div>
          </div>
        </div>
      </div><!-- menu -->
    </div><!-- OtherDropdown -->
  </div>

  <div class="field">
    <label>Subject:</label>
    <input type="text" name="sub" >

  </div>
  <div class="field">
    <label>Content:</label>
    <textarea name="content" placeholder="Message.................!"></textarea>
  </div>

  <button class="ui button" type="submit">Send</button>
</form>

<%include ../partials/footer%>
<script type="text/javascript">
$('#to').dropdown({
  onChange:function(){
    if($('#to').dropdown('get value')!="all"){
      $('#sem').dropdown().show();
    }
    else{
      $('#sem').dropdown({ on: 'hover'}).hide();
    }
  }
});
$('#sem').dropdown({ on: 'hover'}).hide();
</script>
