<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js">
  </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

  <body>
<br>
<div class="ui container">

    <div class="ui secondary  menu">
      <a class="active item" href="/">
        Home
      </a>
      <a class="item" href="customsearch">
        View Data
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <form  action="/search" method="get">
              <input  type="text" placeholder="Search..." name="search_query">
            </form>
              <i class="search link icon" ></i>
          </div>
        </div>
        <a class="ui item">
          Logout
        </a>
      </div>
    </div>
