<% include ./partials/header %>
<h1 class="ui green header">Login as User</h1>

<form class="ui form" action="/login" method="POST">
  <div class="field">
    <div class="five fields">
      <div class="field">
        <input type="text" name="username" placeholder="username">
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="password">
      </div>
      <div class="field">
        <button class="ui  button" type="submit" name="button">login</button>
      </div>
    </div>
  </div>
</form><br>

<div class="ui horizontal divider">Or</div>

<h1 class="ui orange header">Request an Account</h1>
<form class="ui form" action="/registerRequest" method="post">
  <div class="field">
    <div class="five fields">
      <div class="field">
        <input type="text" name="name" placeholder="username">
      </div>
      <div class="field">
        <input type="password" name="pass" placeholder="password">
      </div>
      <div class="field">
        <button class="ui  button" type="submit" name="button">submit</button>
      </div>
    </div>
  </div>
</form>


<% include ./partials/footer %>
