<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error List</title>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="">
    <%=errorList %>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
