<%
if(currentUser.role=="user"){
  %>
  <% include ../user/partials/header %>
<%}
else if(currentUser.role=="admin"){
  %>
  <% include ../admin/partials/header %>
<%}else if(currentUser.role=="student"){
  %>
  <% include ../student/partials/header %>
<%}%>

<div class="ui four fields">
  <div class="ui field">
    <%- messages() %>
    <br>
  </div>
</div>

<form class="ui form" action="/changePassword" method="post">
  <div class="four fields">
    <div class="field">
      <label>Password :</label>
        <input name="password" id="password" type="password" placeholder="Enter password" required/>
    </div>
  </div>
  <div class="four fields">
    <div class="field">
      <label>Confirm password :</label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Re-enter password" required/>
      <span id='message'></span>
    </div>
  </div>
  <button type="submit" class="ui basic blue button" name="button">Submit</button>

</form>
<script type="text/javascript">
$('#password, #confirm_password').on('keyup', function () {
if ($('#password').val() == $('#confirm_password').val()) {
  $('#message').html('Matching').css('color', 'green');
} else
  $('#message').html('Not Matching').css('color', 'red');
});
</script>
